.container {
  width: 350px;
  padding: 5px;
  background-color: $dark-blue;
  border-right: 5px solid $pink-red-neon;
  color: #f0f0f0;
}

@media (min-width: 461px) and (max-width: 1024px) {
  .container {
    width: 100%;
    border-right: 0;
    border-bottom: 5px solid $pink-red-neon;
    margin: 10px;
  }
}
@media (max-width: 460px) {
  .container {
    background-color: black;
    border-right: 0;
    border-bottom: 3px solid $pink-red-neon;
    display: block;
    left: 0px;
    position: fixed;
    right: 0px;

    top: 0px;
    width: 100%;
    z-index: 5;

    div {
      display: flex;
      flex-direction: row;
    }
  }
}
