@import '../utils/variables';

.container {
  width: 350px;
  background-color: $dark-blue;
  border-right: 5px solid $pink-red-neon;
  color: #f0f0f0;
  ul {
    margin-left: 0;
  }
  li {
    list-style: none;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: #f0f0f0;
  }
  a:hover {
    color: #999898;
  }
  .profile-card {
    text-align: center;
    h1 {
      margin-bottom: 0.2em;
    }
    p {
      font-size: 1em;
    }
    .description {
      font-size: 0.8em;
    }
    .profile-pic {
      border-radius: 50%;
    }
  }
}

.social-list {
  display: flex;
  justify-content: center;
  a:visited {
    color: $pink-red-neon;
  }
  a {
    margin-right: 1em;
    color: $pink-red-neon;
    border-radius: 50%;
  }
  a:hover {
    box-shadow: 0 0 15px #bc2a8d;
  }
}
