@import '../utils/variables';

.container {
  width: 350px;
  padding: 5px;
  background-color: $dark-blue;
  border-right: 5px solid $pink-red-neon;
  color: #f0f0f0;
  ul {
    margin-left: 0;
  }
  li {
    list-style: none;
    text-align: center;
  }
  a {
    color: #f0f0f0;
    text-decoration: none;
  }
  a:visited {
    color: #f0f0f0;
  }
  a:hover {
    color: #999898;
  }
  .profile-card {
    text-align: center;
    h1 {
      margin-bottom: 0.2em;
    }
    p {
      font-size: 1em;
    }
    .description {
      font-size: 0.8em;
    }
    .profile-pic {
      border-radius: 50%;
    }
  }
}

.social-list {
  display: flex;
  justify-content: center;
  a:visited {
    color: $pink-red-neon;
  }
  a {
    margin-right: 1em;
    color: $pink-red-neon;
    border-radius: 50%;
  }
  a:hover {
    box-shadow: 0 0 15px #bc2a8d;
  }
}

@media (min-width: 461px) and (max-width: 1024px) {
  .container {
    width: 100%;
    border-right: 0;
    border-bottom: 5px solid $pink-red-neon;
    margin: 10px;
    .profile-card {
      h1 {
        margin-bottom: 0.3em;
      }
      h3 {
        font-size: 1em;
        margin-bottom: 0.9em;
      }
      .description {
        font-size: 0.9em;
      }
      .profile-pic {
        border-radius: 50%;
        max-width: 50px;
      }
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    li {
      margin-right: 10px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 460px) {
  .container {
    background-color: black;
    width: 100%;
    border-right: 0;
    border-bottom: 5px solid $pink-red-neon;
    display: flex;
    flex-direction: column;
    .profile-card {
      .profile-pic {
        width: 2.5rem;
        height: 2.5rem;
      }
      h1 {
        font-size: 1.1em;
        margin-bottom: 0.3em;
      }
      h3 {
        visibility: hidden;
        display: none;
      }
      .description {
        visibility: hidden;
        display: none;
      }
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    li {
      margin-right: 10px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .social-list {
    visibility: hidden;
    display: none;
  }
}
