@import '../utils/variables';
.main {
  display: flex;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.footer-fixed {
  position: relative;
  align-self: flex-end;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .content {
  }
}

@media (max-width: 460px) {
  .main {
    margin-top: 4.8rem;
  }
  body {
    background-color: $dark-blue;
  }
}
